body{
    background-color: #0f0f0f;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.audio{
    background-color: bisque;
    padding: 5px;
    border-radius: 50px;
}

.text{
    color: #ffffff;
    text-decoration: underline
}

.text-2{
    color: #ffffff;
    size: 100px;
}

@media screen and (max-width: 768px) {
    .video{
        margin: 10px;
        width: 520px;
    }
}

@media screen and (max-width: 480px) {
    .video{
        margin: 10px;
        width: 420px;
    }
}